*{
    font-family: "Open Sans", sans-serif;
}

.box{
    width: 200px;
}


.navbar{
    margin-top: 0px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10%;
    position: relative;
    bottom: 43px;
}

.titleName{
    margin-left: 0px;
}
.header{
    background-color: bisque;
    padding: 10px;
}